{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Payment Information</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class=" alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}