{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>You have successfully completed all registration steps</h1>

        <h2>You paymentDataId: {{ customer.customerPaymentInformations[0].paymentDataId }}</h2>
    </div>
{% endblock %}